{{ text | summary:10}}

<!--

{{ course.title | uppercase | lowercase }} <br/> {{ course.students | number}} <br/> {{ course.rating | number:'1.1-1'}} <br/> {{ course.price | currency:'AUD':true:'3.2-2'}} <br/> {{ course.releaseDate | date:'shortDate'}} <br/>    
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" />
<input [value]="email" (keyup.enter)="onKeyUp()" />    
<input #email (keyup.enter)="onKeyUp(email.value)" />
<input (keyup.enter)="onKeyUp($event)" />
<div (click)="onDivClicked()">
    <button (click)="onSave($event)">Save</button>
</div>
<button [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button>        
<button class="btn btn-primary" [class.active]="isActive">Save</button>
<table>
    <tr>
        <td [attr.colspan]="colSpan"></td>
    </tr>
</table>
<h2>{{ getTitle() }}</h2>
<ul>
    <li *ngFor="let course of courses">
        {{ course }}
    </li>
</ul>
<!<img src = "{{ imageUrl }}" />
<img [src]="title" />-->